
.logo-icon {
  display: inline-block;
  float: top;
  width: 27px;
  height: 23px;
  margin-right: auto; 
  background: image_url('login-feedr-logo@2x.png');
  background-size: 80px 23px;
}

.frame {
  position: relative;
  min-height: 100vh;
}
