
.modal {
  position: fixed;
  font-family: $sans-serif;

  width: 430px;
  display: inline-block;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid $gray;
  border-radius: 9px;
  padding: 25px;
  padding-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: white;
}

#login-splash {
  width: 350px;
  height: 175px;
  background: image_url('login-devices@2x.png');
  background-size: 350px 175px;
}

.modal > .center {
  margin: auto;
}

.modal > .close-button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.modal  h1 { 
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: $gray;
  text-transform: lowercase;
  width: 270px;
}
.modal > h1:first-letter {
    text-transform: capitalize;
}

.modal form {
  margin-top: 30px;
}

.modal input {
  box-sizing: border-box;
  display: block;
  height: 44px;
  width: 100%;
}

.input-text {
  border: 1px solid $light-gray;
  background-color: #FAFAFA;
  font-size: 17px;
  padding: 8px;
}

.input-text:focus {
  border: 1px solid black;
  z-index: 999;
}

.input-top {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.input-bottom {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 24px;
}

.submit-button {
  background-color: $green;
  color: white;
  text-align: center;
  border: 1px solid $green;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 17px;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 5px;
}

.demo-login {
  width: 100%;
}

.modal a {
  color: $gray;
  text-decoration: underline;
  font-size: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.errors {
  margin-top: 24px;
  color: red;
}

.modal {
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.2s; /* Firefox < 16 */
        -ms-animation: fadein 0.2s; /* Internet Explorer */
         -o-animation: fadein 0.2s; /* Opera < 12.1 */
            animation: fadein 0.2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}